<section class="about parsys parsys-red parsys-darken">
    <div class="container">
        <h2 class="text-center">
            About Innovadiv
        </h2>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam nunc at hendrerit tincidunt. Sed ullamcorper, ipsum sed pretium fringilla, leo libero feugiat leo, sit amet porttitor dui orci consequat tellus. Fusce at eros eu eros gravida feugiat. In rutrum tincidunt dictum. Donec ac lacinia purus.
                </p>
            </div>
        </div>
    </div>
</section>