<section class="features parsys" id="features">

    <div class="container">
        <h2>
            <span class="underline">
                Features
            </span>

            <i class="fa fa-diamond"></i>
        </h2>

        <div class="row">
            <div class="col-sm-6">
                <p>
                    Innovadiv combines unique features from esteemed marketing agencies, highly reputable recording studios, manufactures, distributors, web/app developers and many more resources that aren't always available to the average consumer. Then we give you the ability to control and manage all of these features from your Innovadiv profile in a way that works for you!
                </p>
                <p>
                    We give you the power to control your non music needs as an artist to achieve your full potential
                </p>
                <p>
                    Additionally, we will be featuring the first of its kind artist’s network! Search and connect with artists on Innovadiv. Need a guitarists for a show tonight? Find one near you! Need to book a photoshoot for you next project? Contact a photographer! In need of designs for you merchandise or album cover? Work with top artists and stand out from the competition. We are building the largest creative network you can find!
                </p>
            </div>
            <div class="col-sm-6">
                <ul class="checkmarks">
                    <li>
                        Artists Network
                    </li>
                    <li>
                        Innovadiv Music Store
                    </li>
                    <li>
                        State-of-the-Art Site Builder
                    </li>
                    <li>
                        iOS &amp; Android application
                    </li>
                    <li>
                        Custom Domain Integration
                    </li>
                    <li>
                        SoundCloud Integration
                    </li>
                    <li>
                        Studio and Venue Listings
                    </li>
                    <li>
                        Facebook, Twitter, Instagram Auto Text Blaster
                    </li>
                    <li>
                        Merch Creator
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>