<section class="features parsys">

    <div class="container">
        <h2>
            <span class="underline">
                Features
            </span>

            <i class="fa fa-diamond"></i>
        </h2>

        <div class="row">
            <div class="col-sm-6">
                <p>
                    Duis faucibus augue risus, in gravida lacus tempus ac. In purus nisl, egestas in quam sed, accumsan bibendum neque. Aenean porttitor elit ut lacus molestie, vitae molestie risus pellentesque. Sed semper eu justo quis eleifend. Phasellus sollicitudin id tellus nec accumsan.
                </p>
                <p>
                    Accumsan bibendum neque. Aenean porttitor elit ut lacus molestie, vitae molestie risus pellentesque. Sed semper eu justo quis eleifend.
                </p>
            </div>
            <div class="col-sm-6">
                <ul class="checkmarks">
                    <li>
                        Neque porro quisquam est qui dolorem ipsum quia
                    </li>
                    <li>
                        Sed ullamcorper, ipsum sed pretium fringilla
                    </li>
                    <li>
                        Aenean porttitor elit
                    </li>
                    <li>
                        Duis faucibus augue risus, in gravida lacus tempus ac
                    </li>
                    <li>
                        Donec ac lacinia purus.
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </li>
                    <li>
                        Neque porro quisquam est qui dolorem ipsum quia
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>