

<div class="container">
    <h2>
        <span class="underline">
            Features
        </span>

        <i class="fa fa-diamond"></i>
    </h2>

    <div class="row">
        <div class="col-sm-6">
            <p>
                Innovadiv combines unique features from esteemed marketing agencies, highly reputable recording studios, manufactures, distributors, web/app developers, and many more resources that aren't always available to the average consumer. We then give you the ability to control and manage all of these features from your Innovadiv profile in a way that works for you!
            </p>
            <p>
                We give you the power to control your non-music needs as an artist to achieve your full potential.
            </p>
            <p>
                Additionally, we will be featuring the first-of-its-kind artists' network! Search and connect with artists on Innovadiv. Need a guitarist for a show tonight? Find one near you! Need to book a photoshoot for your next project? Contact a photographer! In need of designs for your merchandise or album cover? Work with top artists and stand out from the competition. We are building the largest creative network you can find!
            </p>
        </div>
        <div class="col-sm-6">
            <ul class="checkmarks">
                <li>
                    Digital Distribution
                </li>
                <li>
                    Merchandise Creator
                </li>
                <li>
                    Touring Support
                </li>
                <li>
                    Sound Cloud Integration
                </li>
                <li>
                    Responsive Website Builder
                </li>
                <li>
                    Custom Domain Integration
                </li>
                <li>
                    Electronic Press kit
                </li>
                <li>
                    Artist IOS &amp; Android Application
                </li>
                <li>
                    Artist Network
                </li>
            </ul>
        </div>
    </div>
</div>