<section class="hero">
    <div class="container">

        <div class="center-xy">
            <div class="center-xy-contents">

                <div class="hero-contents">

                    <h1>
                        Disrupting The Industry.
                    </h1>

                    <p>
                        Challenging the status quo for musicians by creating a network of artists that are able to connect with vital resources in their industry.
                    </p>

                    <div class="app-icon"></div>

                </div>

            </div>
        </div>

    </div>
</section>