.header {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: solid $header-border-height $brand-primary;

    .navbar-brand {
        font-family: "Titillium Web";
        text-transform: uppercase;
        background: $brand-primary;
        font-size: 30px;
        margin-right: 20px;
        position: relative;

        span {
            display: block;
            font-size: 12px;
            position: absolute;
            bottom: 0;
        }
    }

    .navbar-toggle:hover {
        .icon-bar {
            background: $brand-primary;
        }
    }

    .navbar-nav a,
    .icon-bar {
        transition: all ease-in-out 0.1s;
    }

    .navbar-nav {
        li {
            margin-right: 1px;
            background: rgba(0, 0, 0, 0.7);
        }

        a {
            cursor: pointer;
        }
    }

    @media (min-width: $screen-sm) {
        .navbar-nav {
            float: right;
        }
    }
}