.parsys {
    $padding: 80px;

    padding-top: $padding;
    padding-bottom: $padding;

    h2 {
        margin-bottom: 30px;

        .underline {
            display: inline-block;
            border-bottom-style: solid;
            border-bottom-width: 6px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        i {
            font-size: 46px;
            opacity: 0.1;
            display: none;
        }

        @media (min-width: $screen-sm) {
            .underline {
                margin-right: 14px;
            }

            i {
                display: inline-block;
            }
        }
    }

    .underline {
        border-bottom-color: $gray-dark;
    }
}

.parsys-darken {
    border-width: 5px;
    border-style: solid;
    border-left: none;
    border-right: none;
}

.parsys-red {
    background: $brand-primary;

    .underline {
        border-bottom-color: #fff;
    }

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h2 i {
        color: #fff;

        &:first-child {
            margin-top: 0;
        }
    }

    h2 i {
        opacity: 0.5;
    }

    &.parsys-darken {
        border-color: darken($brand-primary, 15%);
    }
}

.parsys-dark {
    background: $gray-darker;

    .underline {
        border-bottom-color: $gray-lighter;
    }

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h2 i {
        color: $gray-lighter;

        &:first-child {
            margin-top: 0;
        }
    }

    &.parsys-darken {
        border-color: #000;
    }
}