{% extends 'layout.html' %}

{% block title %}
{{ title }} - Innovadiv
{% endblock %}

{% block content %}

<section class="features parsys">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% autoescape false %}
                    {{ contents }}
                {% endautoescape %}
                <hr />
                <p>
                    Interested in more? <a href="/articles">View our blog page</a> which lists all of our current articles.
                </p>
            </div>
        </div>
    </div>

</section>

<section class="features parsys parsys-dark parsys-darken">
    {% include "components/sign-up.html" %}
</section>

<section class="about parsys parsys-red">
    {% include "components/about.html" %}
</section>

{% endblock %}

{% block cssincludes %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
{% endblock %}

{% block jsincludes %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
{% endblock %}