<!doctype html>
<html ng-app="innovadiv-marketing">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% block head %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:200,900|Open+Sans:400italic,700,400'
          rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block cssincludes %}{% endblock %}

    <meta property="og:title" content="Marketing, Distribution, Merchandise for Musicians" />
    <meta property="og:site_name" content="Innovadiv"/>
    <meta property="og:url" content="{{ currentPath }}" />
    <meta property="og:description" content="The primary focus of Innovadiv is to create a network of musicians that are able to connect with vital resources such as other artists, management, marketing, merchandising, products, recording and touring. Innovadiv provides the perfect resources for a range of artists, whether they are just now beginning their journey to those whom are already established." />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="{{ host }}/images/logo-red.jpg" />


</head>
<body data-spy="scroll" data-target="#navbar">
    {% include "./components/header.html" %}

    {% block content %}{% endblock %}

    {% include "./components/footer.html" %}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-mailchimp/angular-mailchimp.js"></script>
    <script src="/js/main.js"></script>

    {% block jsincludes %}{% endblock %}
</body>
</html>